body
{
    background: rgb(255, 211, 166) !important;
}

form
{
    background: rgb(255, 78, 13);
    border: 2px solid rgb(136, 3, 3);
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#task
{
    width: 60%;
    float: left;
    margin-right: 5%;
}

ul li
{
    height: 50px;
    vertical-align: middle;
    font-size: 150%;
    list-style: none;
    margin-bottom: 10px;
    background: rgb(251, 255, 197);
    border: 1px solid silver;
    border-radius: 5px;
}

ul li:hover
{
    background: beige;
}

ul li button
{
    border: 0;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
}

ul li button:hover
{
    background: tomato;
}
